.review-block {
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .review-block h2 {
    margin: 0;
  }

  .review-block p:first-child {
    margin-top: 0.5rem;
    color: #666;
  }

  .review-block p:last-child {
    margin: 1rem 0 0;
  }

  .delete-review-in-spot {
    background-color: red;
    border: 1px black solid;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
    margin-right: 5px;
    padding: 5px;
  }

  .delete-review-in-spot:hover {
    background-color: beige;
    color: black;
  }

  :root {
    background-color: #A9A9;
  }
