.spot-detail-images {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 10px;

  height: 200px;
}
.spot-detail-images img {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;

}

.spot-detail-images .preview-imaage-div {
  flex-grow: 2;
  flex-basis: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

  .preview-image-div {
    flex: 2;
    margin-right: 20px;
    }

    .preview-image-div img {
      width: 500px;
      height: 500px;
      border-radius: 10px;
      }

.spot-create-review{
  cursor: pointer;
  padding-bottom: 50px;
  padding-top: 50px;
  list-style-type: none;
}

.wrapper-info-reserve {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.reserve-button-div {
  border: 2px solid black;
  border-radius: 10px;
  width: 500px;
}

.reserve-button {
  display: flex;
  padding: 10px 100px;
  background-color: red;
  color: white;
  box-shadow: 2px 2px 10px black;
  margin-left: 130px;
  margin-bottom: 10px;
  justify-content: center;
  cursor: pointer;
}


.price-div {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
}

.delete-review-in-spot {
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  list-style-type: none;
  background-color: red;
  color: white;
}



.review-info-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 500px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 80px;
}

.spot-reviews {
  display: flex;
  flex-direction: column-reverse;
}

.spot-review {
  border-radius: 10px;
  padding-left: 10px;
  margin: 10px 0px;
}

.spot-image {
  flex: 1;
  width: 100%;
  }

  .spot-images-div {
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .spot-images-styling {
    display: flex;
  flex-wrap: wrap;
  margin: 3px;
    }

    .review-info-block div{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


    .post-your-review-btn li {
      list-style-type: none;

    }

    .post-your-review-btn {
      display: flex;
      padding: 10px 100px;
      background-color: red;
      color: white;
      box-shadow: 2px 2px 10px black;
      margin-left: 130px;
      margin-bottom: 10px;
      justify-content: center;
      cursor: pointer;
    }

    .post-your-review-btn:hover {
      color: black;
      box-shadow: 2px 2px 10px white;
      background-color: white;

    }
